# Configuration for chwifi. Note that this file contains your credentials in plaintext, be careful with whom and what you allow to read this file.
# No responsibility is taken by author for any issues, security or otherwise. Please refer to the README.md for further information and license information.

# Host to ping for network connection test. Set to work organisations homepage, since if network is restricted to organisation's local network and password-portal is still available
# update of local cache is still possible during outage of public network access.
network_up_host="aau.dk"

# Credentials for CAS-authentication system.
username="username"
password="password"

# Work password syntax, defined by regex. This can be set if your rolling password is different from default. 
password_syntax="^[a-z]+[0-9]+[a-z]+$"

# Use internal sudo for priviledged commands, set "sudo" for true, "" for false. Priviledged commands; 'ip link set $adapter down' and '$network_manager stop $profile'
sudo="sudo"

# Settings for network manager operations, adjust according to your own system. Default is netctl as network manager and assumes profiles named 'home' and 'work'.
wireless_adapter="wlp3s0"
network_manager="netctl"
network_manager_location="/etc/netctl/"
network_manager_connect="start"
network_manager_disconnect="stop"
network_manager_stopall="stop-all"
network_manager_restart="restart"
network_manager_home_profile="home"
network_manager_work_profile="work"

# Options for macchanger, -e, which randomises only device-specific bytes.
macchanger_options="-e"

# Settings for passwordhandler, edit `dest` for other CAS-destination, if desired.
dest="https://wifipassword.aau.dk/oneday"
password_html_file="/tmp/chwifi-passwords.html"
password_file="$XDG_CONFIG_HOME/passwords"

# Settings for cashandler, temporary file locations are included.
cas_hostname="login.aau.dk"
cookie="/tmp/.chwifi-cookie"
header_dump="/tmp/.chwifi-headers"

